<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <input type="text" name="" id="dulieu"><br>
    <button onclick="gui()">Gửi</button><br>
    <div id="hien"></div><br>

    
</body>
<script>
    var socket = io("http://localhost:3000/");
    
    function gui() {
        var data = document.getElementById("dulieu").value;
        socket.emit("gui-nhieu-nguoi", data);
    }
    
    socket.on("nhan-nhieu-nguoi", function(data) {
        document.getElementById("hien").innerHTML += "<p>" + data + "</p>";
    });
</script>
</html>
